DATABASE_URL=postgres://postgres:postgres@localhost:5342/starter
BETTER_AUTH_SECRET=Pzn93oLl7VLJ376sG/T9Cx0Fg6QK2tcvM4qBOl6VtV4=
BETTER_AUTH_URL=http://localhost:3000
ADMIN_PHONE=13800000000
LOG_LEVEL=info
